body{
    background-color: aqua;

}
.container{
    height: 400px;
    width: 400px;

}
#container1{
    background-color: white;
    /* opacity: 50%; */
     margin-top:10% ;
    height: 60vh;
    width: 60vh; 
    padding: 5px;

}